body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.card-deck .card {
    min-width: 175px;
    max-width: 175px;
    /* background: rgba(68, 177, 250, 0.2); /* Blue background with 20% opacity */
}
.media-artist {
    width: 175px;
    height: 175px;
}
.media-album {
    width: 175px;
    height: 175px;
}

.progress:hover {
    cursor: pointer;
}

.album-detail-cover:hover {
    cursor: zoom-in;
}

.shadow-album:hover {
    box-shadow: 4px 4px 4px rgb(98, 98, 98);
}

.shadow-artist:hover {
    box-shadow: 4px 4px 4px rgb(98, 98, 98);
}

.tracknumber {
    max-width: 1px; /* TODO: Figure this better */
}
.play-song-button {
    display: none;
}
.song-number {
    display: block;
}
.play-song-tr:hover * .play-song-button {
    display: block;
}
.play-song-tr:hover * .song-number {
    display: none;
}

.shadow-album * .play-album-button {
    display: none;
    position: absolute;
    right: 4px;
    top: 130px; /* TODO: Make this better */
}
.shadow-album:hover * .play-album-button {
    display: block;
}

.shadow-album * .ellipsis-album-button {
    display: none;
    position: absolute;
    right: 10px;
    top: 200px; /* TODO: Make this better */
}
.shadow-album:hover * .ellipsis-album-button {
    display: block;
}