body {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.card-deck .card {
    min-width: 175px;
    max-width: 175px;
    /* background: rgba(68, 177, 250, 0.2); /* Blue background with 20% opacity */
}
.media-artist {
    width: 175px;
    height: 175px;
}
.media-album { /* so it's square */
    width: 173px;
    height: 173px;
}

/* Larger screen sizes */
/* @media screen and (min-width: 38em) {

} */
/* Smaller screen sizes */
@media screen and (max-width: 38em) {
    .card-deck {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .card {
        height: 286px;
        margin-left: 15px;
        margin-right: 15px;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.progress:hover {
    cursor: pointer;
}

.album-detail-cover:hover {
    cursor: zoom-in;
}
.mini-album-cover {
    width: 65px;
    height: 65px;
}

.shadow-album:hover {
    box-shadow: 4px 4px 4px rgb(98, 98, 98);
}

.shadow-artist:hover {
    box-shadow: 4px 4px 4px rgb(98, 98, 98);
}

.tracknumber {
    max-width: 1px; /* TODO: Figure this better */
}
.play-song-button {
    display: none;
}
.song-number {
    display: block;
}
.play-song-tr:hover * .play-song-button {
    display: block;
}
.play-song-tr:hover * .song-number {
    display: none;
}

.shadow-album * .play-album-button {
    display: none;
    position: absolute;
    right: 4px;
    top: 130px; /* TODO: Make this better */
}
.shadow-album:hover * .play-album-button {
    display: block;
}

.shadow-album * .ellipsis-album-button {
    display: none;
    position: absolute;
    right: 10px;
    top: 200px; /* TODO: Make this better */
}
.shadow-album:hover * .ellipsis-album-button {
    display: block;
}

.play-song-tr * .ellipsis-song-button {
    visibility: hidden;
}
.play-song-tr:hover * .ellipsis-song-button {
    visibility: visible; /* Use visibility to fix flickr on long titles */
}

.tableFixHead          { overflow-y: auto; height: 500px; }
.tableFixHead thead th { position: sticky; top: 0; background-color: #000000; }
